<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Conference View{% endblock %}</title>
        {% block stylesheets %}
            <!-- Custom fonts for this template-->
            <link href="fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

            <!-- Custom styles for this template-->
            <link href="css/sb-admin-2.min.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
    {% block body %}
            <div class="card border-bottom-primary shadow h-100 py-2">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        {% if error %}
            <div class="card bg-danger text-white shadow" bis_size="{&quot;x&quot;:248,&quot;y&quot;:1342,&quot;w&quot;:389,&quot;h&quot;:85,&quot;abs_x&quot;:256,&quot;abs_y&quot;:1454}">
                <div class="card-body" bis_size="{&quot;x&quot;:249,&quot;y&quot;:1343,&quot;w&quot;:387,&quot;h&quot;:83,&quot;abs_x&quot;:257,&quot;abs_y&quot;:1455}">
                    Error
                    <div class="text-white-50 small" bis_size="{&quot;x&quot;:269,&quot;y&quot;:1387,&quot;w&quot;:347,&quot;h&quot;:19,&quot;abs_x&quot;:277,&quot;abs_y&quot;:1499}">{{ error }}</div>
                </div>
            </div>
        {% else %}
            {{ include('base_tracks.html.twig') }}
        {% endif %}
    {% endblock %}
    {% block javascripts %}
        <!-- Bootstrap core JavaScript-->
        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/sb-admin-2.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
    {% endblock %}
    </body>
</html>
