<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Conference View{% endblock %}</title>
        {% block stylesheets %}
            <!-- Custom fonts for this template-->
            <link href="fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

            <!-- Custom styles for this template-->
            <link href="css/sb-admin-2.min.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {{ form(form) }}
        {% endblock %}
        {% block javascripts %}
            <!-- Bootstrap core JavaScript-->
            <script src="js/jquery-3.4.1.min.js"></script>
            <script src="js/jquery.easing.min.js"></script>
            <script src="js/sb-admin-2.min.js"></script>
            <script src="js/bootstrap.bundle.min.js"></script>
        {% endblock %}
    </body>
</html>
