{% if session.type is same as("AM") %}
    <div class="card shadow mb-4 col-4">
        <!-- Card Header-->
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ session.type }}-Session: {{ session.startTime|date('H:i') }}Uhr - {{ session.endTime|date('H:i') }}Uhr</h6>
        </div>
        <!-- Card Content-->
        <div class="card-body">
            {% for talk in session.talks %}
                {% if talk.length <= 5 %}
                    <div>
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Kurzvortrag</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ talk.title }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div>
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ talk.length }} min</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ talk.title }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- break card-->
    <div class="col-2">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">12:00Uhr - 13:00Uhr</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Mittagessen</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-hamburger fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}