<div>
    {% for track in tracks %}
        <div class="card shadow mb-4">
            <!-- track card header-->
            <a href="#collapseCardTrack{{ track.id }}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">track: {{ track.id }}</h6>
            </a>
            <!-- track card-->
            <div class="collapse show" id="collapseCardTrack{{ track.id }}">
                <div class="card-body row">
                    <!-- am session-->
                    {% for session in track.sessions %}
                        {{ include('base_am_session.html.twig') }}
                    {% endfor %}
                    <!-- pm session-->
                    {% for session in track.sessions %}
                        {{ include('base_pm_session.html.twig') }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>